#navbar{
    width: 100%;
    height: 10vh;
    background-color: rgb(136, 148, 153);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    display: flex;
    align-items:center;
    justify-content:flex-start;

}
.logo img{
    width: 70px;
    height: 70px;
   
}
#navbar button{
   height: 5vh;
   margin:0 2%;
   background-color:transparent;
   border: 4px solid rgb(240, 243, 241);
   border-radius: 8px;
   font-weight: 500;
   font-size: small;
   color:rgb(240, 243, 241);
   transition: all 0.5s;


}
#navbar button:hover{
    transform: scale(1.2 , 1.1);
}